header {
  padding: 32px 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #282538;
  cursor: pointer;
  transition: all ease 0.2s;
  display: inline;
}
h1:hover {
  color: #5f5b7b;
}
h1 > span {
  font-weight: 300;
}

