header {
  padding: 32px 0;
}

.Header_logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #282538;
  cursor: pointer;
  transition: all ease 0.2s;
  display: inline;
  text-decoration: none;
}
.Header_logo:hover {
  color: #5f5b7b;
}
.Header_logo > span {
  font-weight: 300;
}

