.Filters {
  font-family: 'Poppins';
  max-width: 379px;
  width: 100%;
}

.Filters_divFullTime > label {
  margin-top: 2px;
}
.Filters_divFullTime > input {
  margin-bottom: 1px;
}


/* ------ Location filter ------ */
h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #B9BDCF;
}
.Filters_divLocation {
  margin: 30px 0 24.5px 0;
}
.Filters_divLocation > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 0px 14px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  margin-top: 14px;
}
.Filters_divLocation > div > img {
  max-width: 18px;
}
.Filters_divLocation > div > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 17px 0;
}
.Filters_divLocation > div > input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B9BDCF;
}

/* ------ Citys filter ------ */
.Filters_divCitys {
  display: flex;
  flex-direction: column;
  gap: 15.67px;
}

.Filters_divCityInput, .Filters_divFullTime {
  display: flex;
  align-items: center;
  gap: 12.5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #334680;
}
.Filters_divCityInput > input, .Filters_divFullTime > input {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 12px;
}
